@font-face {
  font-family: Dosis;
  src: url(./render-components/assets/Dosis-VariableFont_wght.ttf)
    format('truetype');
}

:root {
  font-size: 62.5%;
  --color-one: hsl(210, 75%, 75%);
  --color-two: white;
  --color-three: black;
  --color-four: hsl(95, 75%, 75%);
  --color-five: hsla(0, 0%, 0%, 0);
  --color-six: silver;
}

*,
::before,
::after {
  font-family: Dosis, Arial, sans-serif, system-ui, 'Segoe UI', Roboto,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 2560px;
  min-height: 100vh;
  min-height: 100svh;
  background: linear-gradient(to bottom, var(--color-one), var(--color-two));
  margin: auto;
}

header {
  position: sticky;
  z-index: 2;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: var(--color-one);
  box-shadow: 0px 2px 5px var(--color-three);
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 2px 10px 3px 15px;
  border: 2px solid var(--color-three);
  border-radius: 20px;
  background-color: var(--color-two);
}

.search-bar input {
  border: none;
  outline: none;
  width: 200px;
  background-color: var(--color-two);
}

.search-bar button {
  border: none;
  outline: none;
  appearance: none;
  height: 25px;
  background-color: var(--color-two);
}

.search-bar img {
  height: 25px;
}

.search-bar img:hover {
  cursor: pointer;
}

.scale-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.scale-buttons button {
  border: none;
  appearance: none;
  outline: 2px solid var(--color-three);
  padding: 5px 10px;
  border-radius: 20px;
  background-color: var(--color-two);
}

.scale-buttons button:hover {
  cursor: pointer;
}

.scale-buttons button.active {
  background-color: var(--color-four);
}

main {
  flex: 1;
  display: grid;
  grid-template-columns: minmax(250px, 720px);
  justify-content: center;
  align-content: start;
  gap: 40px;
  padding: 40px 20px 0px;
}

.current-weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 15px;
  border: 1px solid var(--color-three);
  border-radius: 20px;
  background-color: var(--color-two);
}

.current-weather img {
  height: 120px;
}

.current-weather .date {
  font-size: 2rem;
}

.current-weather .location {
  font-size: 3rem;
}

.current-weather .details {
  display: flex;
  align-items: center;
}

.current-weather .details > p {
  font-size: 5rem;
  font-weight: 700;
  padding-right: 10px;
}

.current-weather .details > div {
  display: grid;
  gap: 5px;
  padding-left: 10px;
  border-left: 2px solid var(--color-three);
}

.frame {
  position: relative;
  border: 1px solid var(--color-three);
  border-radius: 20px;
  background-color: var(--color-two);
  overflow: hidden;
}

.frame::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, var(--color-six), var(--color-five));
  pointer-events: none;
}

.frame::after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 20px;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, var(--color-five), var(--color-six));
  pointer-events: none;
}

.track {
  display: flex;
  gap: 15px;
  width: calc(100% + 40px);
  transform: translateX(-20px);
  padding: 20px 15px;
  overflow-x: scroll;
}

.track .hour {
  display: grid;
  justify-items: center;
  gap: 20px;
}

.track .hour:first-child {
  margin-left: 20px;
}

.track .hour:last-child {
  margin-right: 20px;
}

.track .condition {
  height: 50px;
  width: 50px;
}

.chance-of-rain {
  display: flex;
  align-items: center;
}

.rain-drop {
  height: 15px;
}

.future-weather {
  text-align: center;
  padding: 0px 15px;
  border: 1px solid var(--color-three);
  border-radius: 20px;
  background-color: var(--color-two);
}

.future-weather .day {
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: 95px 1fr auto;
  align-items: end;
  gap: 20px;
  border-bottom: 1px solid var(--color-three);
}

.future-weather .day:last-child {
  border-bottom: none;
}

.future-weather .day-and-image {
  display: grid;
  justify-items: center;
}

.future-weather .chance-of-rain {
  justify-content: end;
}

.astro-data {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  background-color: var(--color-two);
  border: 1px solid var(--color-three);
  border-radius: 20px;
  padding: 20px 0px;
}

.astro-data .container {
  display: grid;
  justify-items: center;
  gap: 10px;
}

.astro-data img,
.extra-data img {
  height: 50px;
}

.extra-data {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-two);
  border: 1px solid var(--color-three);
  border-radius: 20px;
  padding: 20px 10px;
  gap: 10px;
}

.extra-data .container {
  text-align: center;
  display: grid;
  justify-items: center;
  gap: 10px;
}

.error {
  text-align: center;
  padding: 10px;
  border: 1px solid var(--color-three);
  background-color: var(--color-two);
  border-radius: 20px;
}

.loader {
  position: fixed;
  top: 200px;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border: 16px solid var(--color-two);
  border-top: 16px solid var(--color-four);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  text-align: center;
  padding: 20px 10px;
}
